@model IEnumerable<BreweryViewModel>
@{var breweries = Model.ToList();}

<div class="container">
    <h1 class="cover-heading cursive-h1">Breweries</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

    <table class="table table-hover container-fluid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => breweries[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => breweries[0].CountryName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <p>
                                    @*<a asp-action="Create">Create New</a>*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </p>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>