@model IEnumerable<BreweryViewModel>
@{var breweries = Model.ToList();}

THIS IS LIST BREWERIES!


<table class="table table-hover container-fluid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => breweries[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => breweries[0].CountryName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>