@model BeerSearchViewModel
@{
    ViewData["Title"] = "Beers";
    var beers = Model.Beers.ToList();
}


<div class="container" id="beer-index">
    <br />

    <div>
        <form class="form-inline justify-content-center md-form form-sm active-orange" asp-controller="Beers" asp-action="Search" method="post">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control ml-3 w-75 active-orange" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.StyleName"></label>
                <select asp-for="@Model.StyleName" asp-items="@(new SelectList(ViewBag.message))" class="form-control">
                    <option selected="selected"></option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="@Model.SortBy" class="form-check-input" type="radio" name="sortby" value="name" checked>
                <label for="name">Name</label>
                <input asp-for="@Model.SortBy" class="form-check-input" type="radio" name="sortby" value="abv">
                <label for="abv">Alcohol %</label>
                <input asp-for="@Model.SortBy" class="form-check-input" type="radio" name="sortby" value="rating">
                <label for="rating">Rating</label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">SEARCH</button>
            </div>
        </form>
    </div><br />

    <h1 class="cover-heading cursive-h1">Our beers</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-controller="Beers" asp-action="ListUnlisted">See Unlisted beers</a>
        </div><br />
    }
    @if (Model.Beers.Count == 0)
    {
        @Html.DisplayName("NO BEERS FOUND MATCHING YOUR CRITERIAS!");
    }
    else
    {
        <div class="row">
            @foreach (var beer in Model.Beers)
            {
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img" src="~/images/beers/@beer.ImageURL" alt="@beer.Name">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                            <h1 class="card-title cursive-h1" style="font-size: 35px">@beer.Name</h1><br /><br /><br /><br />
                            <h4 class="card-title">ABV: @beer.ABV%</h4>
                            <h4 class="card-title">Rating: @beer.AvgRating</h4>
                            <div class="link d-flex">
                                <a class="card-link text-warning" asp-controller="Beers" asp-action="Details" asp-route-id="@beer.Id">Details</a>
                            </div>
                        </div>
                    </div>
                </div><br />
            }
        </div>
    }

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"asp-action="SearchPage" asp-route-page="1" asp-route-searchName="@Model.Name"
                       asp-route-styleName="@Model.StyleName" asp-route-sortBy="@Model.SortBy" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.pageCount; i++)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="SearchPage" asp-route-page="@i" asp-route-searchName="@Model.Name"
                       asp-route-styleName="@Model.StyleName" asp-route-sortBy="@Model.SortBy">@i</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" asp-action="SearchPage" asp-route-page="@Model.pageCount" asp-route-searchName="@Model.Name"
                       asp-route-styleName="@Model.StyleName" asp-route-sortBy="@Model.SortBy" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>